.contenedorC1 {

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;

    .parrafo1 {
        font-size: 1rem;
        margin-top: 15px;
        padding: 1rem 1.5rem;

    }


    h1 {
        display: flex;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        color: black;
        font-family: 'Cormorant Garamond', serif;


    }

    h2 {
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;

    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;;

    }

    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }

    .emoji_regalo {
        animation-duration: 2s;
        padding-right: 15px;
        padding-bottom: 7px;
    }

    .abrir-modal {
        text-decoration: none;
        padding: 1em 3em;
        border-radius: 8px;
        display: inline-block;
        font-weight: 300;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        margin-top: 30px;
        color: rgb(118, 71, 46);
        background-color: rgba(255, 255, 255, 0.538);

    }
}





.contenedorC1-CA {

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
  

    h2 {
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;

    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif ;

    }

    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}

.contenedorC1-CB {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
 


    h2 {
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;

    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}


.contenedorC1-asistencia {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;

    h2 {
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;

    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}

.contenedorC1-regalos {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;

    h2 {
        display: flex;
       
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;

    }



    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}


.contenedorC1-musica {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;

    h2 {
        display: block;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;

    }

    p {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .emoji {
        display:flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}


.contenedorC1-instagram {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2rem 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background-image: url(../imagenes/pexels-photo-3171770.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;

    .ig {
        background-color: rgba(255, 255, 255, 0.564);
        border-radius: 8px;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    }

    h2 {
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;
      
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .emoji {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;

        animation-duration: 3s;

    }
}

#horizontal-line {
    width: 80%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 90px;
    background-color: white;
}